@import 'base/normalize';

@import 'helpers/mixins';

@import 'base/variables',
  'base/typography';

body {
  // background: black;
}

header.header {
  height: 100vh;
  position: relative;

  .game-of-life {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#1b2947,#282f51,#36365a,#443c63,#52426b,#614973,#704f7b,#815482,#935988,#a55d8d,#b86291,#cb6692,#dd6b93,#ec7691,#f18c90,#f3a195,#f3b6a0,#f3c9b2,#f3dcc7,#ffeddb);

    #game, #scene {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
