$core-background: #fff;
$core-text: #575757;
$core-accent: #568fa7;

$font-family-default:  "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:   "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$core-font-size: 1rem !default;
