$core-background: #fff9f3;
$core-text: #575757;
$core-accent: #7544c1;

$dark-blue: #0a1832;
$mid-blue: #003265;
$light-blue: #235a93;

$font-family-default:  "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:   "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$core-font-size: 1rem !default;

$navbar-height: 80px;

$space-l: 2rem;
$space-m: 1rem;
$space-s: 0.5rem;
