nav.navbar {
  background-color: $dark-blue;
  height: $navbar-height;
  margin-bottom: $space-l;
  position: relative;
  z-index: 100;

  .navbar-mobile,
  .navbar-main {
    align-items: center;
    justify-content: center;
    height: 100%;

    a,
    .navbar-toggle {
      color: $core-background;
      padding: $space-m;
      text-align: center;

      &:hover,
      &.active {
        background-color: $core-accent;
      }
    }

    .navbar-toggle,
    .logo {
      font-size: 2rem;
      &:hover {
        font-weight: bold;
        background-color: transparent;
      }
    }
  }

  .navbar-mobile {
    display: flex;

    .navbar-collapse {
      background-color: $dark-blue;
      display: flex;
      flex-direction: column;
      width: 100%;

      position: absolute;
      left: 0;
      top: $navbar-height;

      a {
        margin: $space-m 0;
      }

      &.collapsed {
        display: none;
      }
    }
  }

  .navbar-main {
    display: none;
    a {
      margin: 0 $space-m;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  @include breakpoint(small) {
    .navbar-mobile {
      display: none;
    }
    .navbar-main {
      display: flex;
    }
  }
}
