section.section .projects {
  display: flex;
  flex-flow: row wrap;
}

.project {
  flex: 1 1 50%;
  margin-bottom: $space-l;
  text-align: center;

  a.project-image {
    display: inline-block;
    position: relative;
    margin-bottom: $space-m;
    padding: 0;

    img {
      width: 300px;
      max-height: 200px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #aaa;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 300px;
      height: 200px;
      border-radius: 5px;
      background-color: $core-accent;
      transition: opacity 0.25s;
      opacity: 0;
    }

    &:hover {
      background-color: transparent;
      .overlay {
        opacity: 0.4;
      }
    }
  }

  .project-links {
    margin-bottom: $space-m;

    .project-name {
      font-weight: 700;
      font-family: $font-family-header;
    }
    .project-source {
      font-size: 1.2rem;
    }
  }

  ul.tags {
    justify-content: center;

    li:first-of-type {
      margin: 0 $space-s;
    }
  }
}

