section.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  .section-header h2 {
    &:after {
      content: url('../images/shape.svg');
      display: block;
      text-align: center;
    }
  }

  .section-body {
    width: 100%;
    max-width: 900px;
  }
}
