body {
  background-color: $core-background;
  color: $core-text;
  font-family: $font-family-default;
  font-size: 16px;
  font-weight: 300;

  @include breakpoint(medium) {
    font-size: 18px;
  }

  @include breakpoint(large) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  font-weight: 700;
  color: $light-blue;

  strong {
    color: $core-accent;
  }
  .small {
    font-weight: 300;
  }
}

h1 {
  color: $dark-blue;
  font-size: $core-font-size + 3.2;
}

h2 {
  color: $mid-blue;
  font-size: $core-font-size + 1.0;
}

h3 {
  font-size: $core-font-size + 0.30;
}

h4 {
  font-size: $core-font-size + 0.10;
  font-weight: 300;
  color: $core-text;
}

a {
  color: $light-blue;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.25s;
  border-radius: 2px;

  &:hover {
    color: $core-accent;
    background-color: rgba($core-accent, 0.1);
  }
}

p {
  line-height: 1.5;
  a {
    padding: 5px 0;
  }
}
